<!-- Call to Action Section -->
<div class="well">
  <div class="row">
    <div class="col-md-8">
      <p>Sign up today and try it out for free. We'll walk you through an easy setup guide and you can rest easy that we'll
        always have your back.</p>
    </div>
    <div class="col-md-4">
      <%= link_to new_user_registration_path, class: 'btn btn-lg btn-default btn-block' do %>
        Try Now for Free
        <i class="fa fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
</div>
