<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Our Story
        <small>How we noticed a problem</small>
      </h1>
      <ol class="breadcrumb">
        <li>
          <%= link_to 'Home', root_path %>
        </li>
        <li class="active">Services</li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <!-- Image Header -->
  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="<%= asset_path 'telephone-operator-1.jpg' %>" alt="">
    </div>
    <div class="col-md-6">
      <h2>A Solution was Needed</h2>

      <p>When our CEO found himself stranded out in the middle of nowhere with a dead phone, not remembering any friend's number,
        he knew he needed a back up plan. When he reallized that in our age of smartphones and address books it is likely other
        people might not remember phone numbers either, he knew he needed to build a solution.</p>
      <p>First, there needed to be an easy to remember phone number that anyone can call. Then, the operator needed to be able to
        recognize anyone through even low quality connections. Finally, with the power of the internet the Virtual Operator needed
        to let you find any of your contacts in the cloud. </p>
      <p>Remember the good old days when we simply dialed the operator and asked to be connected to our friends and family?
        With our Virtual Operator we use 21st century technology to bring back a little of the old days to the modern era
        allowing anyone to easily call the Operator and get connected to their friends and family in times of need.</p>
    </div>
  </div>
  <!-- /.row -->

  <!-- Service Panels -->
  <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Using Cutting Edge Technology</h2>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="panel-body">
          <h4>AI Voice Recognition</h4>
          <p>Talk to our Virtual Operator like you would Siri, Google Now, Alexa, or Cortana.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="panel-body">
          <h4>Voice Identity Match</h4>
          <p>We connect you securely and privately to your contacts by matching your voice to your account.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-address-book-o fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="panel-body">
          <h4>Address Book Search by Voice</h4>
          <p>We'll find any of your contacts by full name or nickname.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <span class="fa-stack fa-5x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-volume-control-phone fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="panel-body">
          <h4>Use any Phone, Landline or Mobile</h4>
          <p>Our Operator is optimized to work over even low quality connections.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Service Tabs -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Learn More</h2>
    </div>
    <div class="col-lg-12">

      <ul id="myTab" class="nav nav-tabs nav-justified">
        <li class="active">
          <a href="#service-one" data-toggle="tab">
            <i class="fa fa-microphone"></i> AI Voice Recognition</a>
        </li>
        <li class="">
          <a href="#service-two" data-toggle="tab">
            <i class="fa fa-users"></i> Identity Match</a>
        </li>
        <li class="">
          <a href="#service-three" data-toggle="tab">
            <i class="fa fa-address-book-o"></i> Voice Search</a>
        </li>
        <li class="">
          <a href="#service-four" data-toggle="tab">
            <i class="fa fa-volume-control-phone"></i> Use a Landline</a>
        </li>
      </ul>

      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="service-one">
          <h4>AI Voice Recognition</h4>
          <p>
            We use the latest AI powered algorithms to give our Virtual Operator the power of Siri, Alexa, and Google Now.
            Speak to the Operator as you would any other voice assistant on your phone.
          </p>
          <p>
            Even when stranded out in the middle of nowhere you can rest easy that we'll be able
            to get you anyone you need, quickly and easily.
          </p>
        </div>
        <div class="tab-pane fade" id="service-two">
          <h4>Voice Identity Match</h4>
          <p>
            Our system will be able to recognize you simply by stating your name. Only when there's an ambiguity will the system
            narrow in on your account by asking you easily remembered identifying information, such as your birthday.
          </p>
          <p>
            The Virtual Operator will quickly find your account and give you unlimited access to your contacts and even
            connect you directly to whomever you wish.
          </p>
        </div>
        <div class="tab-pane fade" id="service-three">
          <h4>Address Book Search by Voice</h4>
          <p>
            Let us know if any of your contacts have nicknames, so you can quickly find Dad's or Mom's number. With our database powered
            fuzzy search we can match any of your contact's names by simply stating their first, last, or full name too.
          </p>
          <p>
            We'll keep your contacts synchronized so you'll have the correct number even if they change.
          </p>
        </div>
        <div class="tab-pane fade" id="service-four">
          <h4>Use a Payphone, Landline, or Mobile</h4>
          <p>
            We've tuned our system to work optimally over low quality connections such as old landlines, payphones, or even a cellphone
            with low reception.
          </p>
          <p>
            Wherever you are, whether in the city, on the road, or out in the country. You can always pick up any old phone and ask us for help.
          </p>
        </div>
      </div>

    </div>
  </div>

  <!-- Service List -->
  <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">What you get</h2>
    </div>
    <div class="col-md-4">
      <div class="media">
        <div class="pull-left">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-gift fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Try it for free!</h4>
          <p>Sign up now, no payment needed. We'll walk you through using our system and setting up your account.</p>
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-volume-control-phone fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Call from anywhere, anytime.</h4>
          <p>Our service is always on and you can use any dial tone telephone no matter how old or low quality.</p>
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Secure voice identification</h4>
          <p>Be sure that only you can retrieve your contacts and no other user can access your account.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="media">
        <div class="pull-left">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-life-ring fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Easy and cheap yearly subscription plans</h4>
          <p>It's best to have 1800HelpMe and not need it than to need it and not have it.</p>
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-plug fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Connect to contact</h4>
          <p>Our Operator can connect you directly to the person you need.</p>
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-address-book-o fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Address book synchronization</h4>
          <p>Connect your cloud accounts and keep your contacts fresh so you'll get up to date information
            even you when contact info changes.</p>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="media">
        <div class="pull-left">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Service Seven</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Service Eight</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-recycle fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Service Nine</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
        </div>
      </div>
    </div> -->
  </div>
  <!-- /.row -->

  <hr>

  <%= render partial: 'elements/call_to_action' %>

</div>
<!-- /.container -->